.imgMovie {
   
    display: block;
    width: 325px;
    height: 518px;
}
h2 {
    margin: 0;
}

  .filmCcardList {
    padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  }
  
  .filmCardItem {
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transform: scale(1);
    transition: transform 250ms linear;
    margin-left: 16px;
     margin-bottom: 16px;
    flex-basis: calc(33.33333% - 16px);
  }

  
  .filmCardItem:hover,
  .filmCardItem:focus {
    transform: scale(1.05);
    transition: transform 250ms linear;
  }
  
  .film-card__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-font-modal-color);
    overflow: hidden;
    height: 449px;
  }
  
  .filmCardTitle{
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    
  }
  