.header{
    padding: 20px;
    margin-bottom: 20px;
    background-color: cadetblue;
}
.link{
    padding: 4px;
    color: black;
    margin-right: 10px;
    text-decoration: none;
}
.active{
    padding: 4px;
    color: brown;
    margin-right: 10px;
    text-decoration: none;
}